<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<h1>Edit Menu Item</h1>
<form action="#" method="post">
    <p>Name</p>
    <input type="text" name="name" placeholder="{{ item.name }}">

    <p>Description</p>
    <textarea name="description" rows="6" cols="40"   placeholder="{{ item.description }}"></textarea>

    <p>Price</p>
    <input type="text" name="price" placeholder="{{ item.price }}">

    <p>Course</p>
    {% if item.course == 'Appetizer' %}
        <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
    {% else %}
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
    {% endif %}

    {% if item.course == 'Beverage' %}
        <input type="radio" name="course" value="Beverage" checked>Beverage<br>
    {% else %}
        <input type="radio" name="course" value="Beverage">Beverage<br>
    {% endif %}


    {% if item.course == 'Dessert' %}
        <input type="radio" name="course" value="Dessert" checked>Dessert<br>
    {% else %}
        <input type="radio" name="course" value="Dessert">Dessert<br>
    {% endif %}


    {% if item.course == 'Entree' %}
        <input type="radio" name="course" value="Entree" checked>Entree<br>
    {% else %}
        <input type="radio" name="course" value="Entree">Entree<br>
    {% endif %}


    <p><input type="Submit" value="Create">
        <a href="#">cancel</a>
    </p>
</form>
</body>
</html>