<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<h1>{{ restaurant.name }}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for messages in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
{% endif %}
{% endswith %}

<p><a href="#">Create New Item</a></p>


{% for course in courses %}
    <h1>{{ course }}</h1>
    {% for i in items %}
        {% if i.course == course %}
            <p>
                <b>{{ i.name }}</b><br>
                <i>{{ i.description }}</i><br>
                {{ i.price }}<br>
                <a href="#">Edit</a><br>
                <a href="#">Delete</a>
            </p>
        {% endif %}
    {% endfor %}
{% endfor %}

</body>
</html>