<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<h1>Enter new name for this restaurant </h1>
<form action="#" method="post">

    <p>Name</p>
    <input type="text" name="name">

    <p>Description</p>
    <input type="" name="description">

    <p>Price</p>
    <input type="textarea" name="description">

    <p>Course</p>
    <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
    <input type="radio" name="course" value="Beverage">Beverage<br>
    <input type="radio" name="course" value="Dessert">Dessert<br>
    <input type="radio" name="course" value="Entree">Entree<br>

    <p><input type="Submit" value="Create">
        <a href="#">cancel</a>
    </p>

</form>
</body>
</html>